<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBF5B7hAWeBNPA8uYbGEWomIxL_Di-w1qI</string>
	<key>GCM_SENDER_ID</key>
	<string>187354143340</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.citus.stage</string>
	<key>PROJECT_ID</key>
	<string>citus-health</string>
	<key>STORAGE_BUCKET</key>
	<string>citus-health.appspot.com</string>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187354143340:ios:52527e7fb08f04b5385649</string>
</dict>
</plist>
